<hr style="margin-top:2em">

<div class="row" style="margin-top:1em">
		
        <div class="col-md-8">
        <p>&copy; 2016-2020 Friedrich Schiller University Jena, Concordia University Montréal</p>
        </div>
		<div class="col-md-4">
  <a href="https://github.com/fusion-jena/ScholarLensViz" class="footerIcons" title="ScholarLensViz GitHub repository" target="_blank"><i class="fa fa-github-square" style="font-size:40px;" ></i></a>
  <a href="https://twitter.com/fusionUniJena" class="footerIcons" title="Fusion group FSU Jena on Twitter" target="_blank"><i class="fa fa-twitter-square" style="font-size:40px;"></i>


		</div>
</div>
<div class="row align-items-center" style="margin-top:0.5em">
	<div class="col-md-8">funded by &nbsp;&nbsp;<a href="https://www.daad.de/" title="DAAD - German Academic Exchange Service" target="_blank"><img src="images/DAAD-logo-eng.svg" class="img-responsive" width="60%"/></a></div>
   <div class="col-md-4">&nbsp;</div>
</div>