<div class="navbar-header">
						<!--<div id="share_header">-->
							<img src="images/logo.png" class="img-responsive logo"/>
							<a class="btn btn-primary" href="index.html" id="home" role="button" title="Start page"><i class="fas fa-home icon-size"></i></a>
							<a class="btn btn-primary" onclick="changePage('indexPie.html')" id="pie" role="button" title="Load the pie chart"><i class="fas fa-chart-pie icon-size"></i></a>
							<a class="btn btn-primary" onclick="changePage('indexGraph.html')" id="graph" role="button" title="Load the graph chart"><i class="fas fa-project-diagram icon-size"></i></a>
							<a class="btn btn-primary" onclick="changePage('indexChord.html')" id="chord" role="button" title="Load the chord chart"><i class="fas fa-record-vinyl icon-size"></i></a>
							<a class="btn btn-primary" onclick="changePage('help.html')" id="chord" role="button" title="Get background information and more explanations."><i class="fas fa-question-circle icon-size"></i></a>
							<div id="div_user_info"></div>
</div>
