<html>
	<head>
		<title>PieChart - ScholarLensViz</title>
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	</head>

	<body onload="loadSite();setResearcher()">
		<div id="loading" class="d-flex justify-content-center" style="margin-top: 50vh">
			<div class="spinner-grow text-primary" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div id="space"></div>
			<div class="spinner-grow text-secondary" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div id="space"></div>
			<div class="spinner-grow text-success" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div id="space"></div>
			<div class="spinner-grow text-danger" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div id="space"></div>
			<div class="spinner-grow text-warning" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div id="space"></div>
			<div class="spinner-grow text-info" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div id="space"></div>
			<div class="spinner-grow text-light" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
					 <nav class="navbar navbar-inverse navbar-fixed-top">
					 <div class="container" id="header" style="display:none">

					</div>
					<div id="researcher_div" style="max-width:225px">
					</div>
					</nav>
					<hr>
				<!--<div id="widget-container">-->
				  <div id="widget-container" class="container-fluid" style="display:none">
				    <div class="row">
						<div class="col-sm-12 col-lg-6">
							<div id="div_left">
							   <div class="row">
						         <div class="col-md-12">
								<div id="div_visualization"></div>
								</div>
								</div>
								<div class="row">
						         <div class="col-md-12">
								<div id="label_div">
								<div id="label_header">All comments are obtained from DBpedia.</div>
								<div id="label_comment"></div>
								<div id="label_ref"></div>
								</div>
								</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-6">
						    <div id="div_info">
								<div id="main_nav" role="group">
									<button id="btn_Sources" type="button" class="my_button"
										onclick="display_comment(this.id);">Provenance</button>
									<button id="btn_Table" type="button" class="my_button"
										onclick="display_comment(this.id);">Competences</button>
								</div>
								<div id="hint"></div>
								<div id="div_table"></div>
								<div id="div_table_view"></div>
					      </div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
								<footer id="footer"></footer>
						</div>
					</div>
				</div>
		<script>
			function changePage(page) {
				var id = new URLSearchParams(window.location.search).get("id");
				window.location.href = page + "?id=" + id;
			}

			function loadSite() {
				var id = new URLSearchParams(window.location.search).get("id");
				var infos = JSON.parse(sessionStorage.getItem(id));
				buildPie(infos[0], infos[1], infos[4], infos[5]);
			}

			function setResearcher() {
				var id = new URLSearchParams(window.location.search).get("id");
				var infos = JSON.parse(sessionStorage.getItem(id));
				document.getElementById("researcher_div").innerHTML = "Scholar: " + infos[1] + " | Affiliation: <a href=\"" + infos[3] + "\" target=\"_blank\">" + infos[2] + "</a>";
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">	</head>
		<script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/pie_page.css"></link>
		<script type="text/javascript" src="js/scriptPie.js"></script>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/custom.css" >
	</body>
</html>
